body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: left;
}

.container-gameList{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    display: flex;
    flex-direction: row !important;
    width: 70%;
}

#gameList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}

.input-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin: 1rem;
}

.card img {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 376px;
}

.card-content {
    text-align: left;
}

#vazio-lista {
    color: green
}

.error{
    color: red;
    text-align: center;
}

.success{
    color: green;
    font-weight: bold;
    text-align: center;
}